body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:wheat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  height: 100vh;
  width: 100%;
  background-color: black;
  color:wheat;
  display: flex;
}

input[type="file"] {
  display: none;
}
.button2{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin:50px 0px 0px 400px;
  color:wheat;
  height: 120px;
  background-color: black;
  border-radius: 25px;

}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin:50px 0px 0px 400px;
  height: 100px;

}
span{
  font-size: 40px;
  margin-left: 600px;
}
.text{
  margin-top: 34px;
}